<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HMS - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
<header class="topbar">
<a href="{{ url_for('index') }}">HMS Home</a>
<nav>
<a href="{{ url_for('admin') }}">Admin</a> |
<a href="{{ url_for('doctor') }}">Doctor</a> |
<a href="{{ url_for('patient') }}">Patients</a> |
<a href="{{ url_for('book') }}">Book Appointment</a> |
<a href="{{ url_for('billing') }}">Billing</a>
</nav>
</header>


<main class="container">
{% block content %}{% endblock %}
</main>


<footer>
<small>HMS demo • Flask backend •  SQLite DB</small>
</footer>
</body>
</html>
